In [1]:
import pandas as pd
import datetime

In [2]:
    
# using now() to get current time
current_time = datetime.datetime.now()
    
year=current_time.year
month=current_time.month   
day=current_time.day

In [3]:
external_path='https://storage.dosm.gov.my/hies/hh_income_state.parquet' 
landing_zone_path=f'../../../Landing-Zone/Income/hh_income_state_{year}-{month}-{day}.parquet'

In [4]:
df=pd.read_parquet(external_path)

In [5]:
df

              state        date  income_mean  income_median
0             Johor  1970-01-01          237           <NA>
1             Johor  1974-01-01          382            269
2             Johor  1976-01-01          513            370
3             Johor  1979-01-01          731            518
4             Johor  1984-01-01         1065            793
..              ...         ...          ...            ...
298  W.P. Putrajaya  2014-01-01        10401           7512
299  W.P. Putrajaya  2016-01-01        11555           8275
300  W.P. Putrajaya  2019-01-01        12840           9983
301  W.P. Putrajaya  2020-01-01        12322           9743
302  W.P. Putrajaya  2022-01-01        13473          10056

[303 rows x 4 columns]

In [6]:
df.shape

(303, 4)

In [7]:
df.to_parquet(landing_zone_path)