In [2]:
import pandas as pd

In [3]:
import datetime
    
# using now() to get current time
current_time = datetime.datetime.now()
    
year=current_time.year
month=current_time.month   
day=current_time.day

In [4]:
external_path='https://storage.dosm.gov.my/hies/hh_income_state.csv' 
landing_zone_path=f'../../../Landing-Zone/Income/hh_income_state_{year}-{month}-{day}.csv'

In [5]:
df=pd.read_csv(external_path)

In [6]:
df

              state        date  income_mean  income_median
0             Johor  1970-01-01          237            NaN
1             Johor  1974-01-01          382          269.0
2             Johor  1976-01-01          513          370.0
3             Johor  1979-01-01          731          518.0
4             Johor  1984-01-01         1065          793.0
..              ...         ...          ...            ...
298  W.P. Putrajaya  2014-01-01        10401         7512.0
299  W.P. Putrajaya  2016-01-01        11555         8275.0
300  W.P. Putrajaya  2019-01-01        12840         9983.0
301  W.P. Putrajaya  2020-01-01        12322         9743.0
302  W.P. Putrajaya  2022-01-01        13473        10056.0

[303 rows x 4 columns]

In [7]:
df.shape

(303, 4)

In [8]:
df.to_csv(landing_zone_path)