In [ ]:
import pandas as pd
import datetime

In [ ]:
# using now() to get current time
current_time = datetime.datetime.now()
    
year=current_time.year
month=current_time.month   
day=current_time.day

In [39]:
external_path='https://storage.dosm.gov.my/hies/hh_income.csv' 
landing_zone_path=f'../../../Landing-Zone/Income/hh_income_{year}-{month}-{day}.csv'

In [ ]:
df=pd.read_csv(external_path)

In [42]:
df

          date  income_mean  income_median
0   1970-01-01          264            166
1   1974-01-01          362            227
2   1976-01-01          505            308
3   1979-01-01          678            429
4   1984-01-01         1098            719
5   1987-01-01         1083            738
6   1989-01-01         1169            816
7   1992-01-01         1566           1077
8   1995-01-01         2020           1377
9   1997-01-01         2606           1724
10  1999-01-01         2472           1704
11  2002-01-01         3011           2049
12  2004-01-01         3249           2211
13  2007-01-01         3686           2552
14  2009-01-01         4025           2841
15  2012-01-01         5000           3626
16  2014-01-01         6141           4585
17  2016-01-01         6958           5228
18  2019-01-01         7901           5873
19  2020-01-01         7089           5209
20  2022-01-01         8479           6338

In [43]:
df.shape

(21, 3)

In [ ]:
df.to_csv(landing_zone_path)